body{
    margin: 0;
}
.bg{
    background: red;
    background-size: 100% auto;
}
.bg.is-1{
    background-image: url("../assets/bg-1.jpg");
}
.bg.is-2{
    background-image: url("../assets/bg-2.jpg");
}
.bg.is-3{
    background-image: url("../assets/bg-3.jpg");
}
.bg.is-4{
    background-image: url("../assets/bg-4.jpg");
}
.bg.is-5{
    background-image: url("../assets/bg-5.jpg");
}